h1{
    text-align: center;
}

body{
    background-color: #c7eef5;
}

#expenseList{
    width: 25%;
    border-collapse: collapse;
    border-spacing: 5px;
    /*border-radius: 3px;*/
    border: 1px solid;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.tHeaders{
    /*width: 3px;*/
    border: 3px solid #FFFFFF;
    padding: 3px;
    text-align: center;
    background-color: #f5f7fa;
}


#entryForm{
    width: 25%;
    border-collapse: collapse;
    /*border-spacing: 5px;*/
    /*border-radius: 3px;*/
    /*border: 1px solid;*/
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
#entryTable{
    width: 25%;
    margin-left: auto;
    margin-right: auto;

}

#typeList{
    border-collapse: separate;
    border-spacing: 10px;
    /*border-radius: 3px;*/
    border: 1px solid;
    text-align: left;
}

#addExpense{
    background-color: #a0d468;
    border: 1px solid;
    border-radius: 10px;
    width: 175px;
    padding: 12px 30px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
}
#placeButton{
    padding:30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.deleteButton{
    background-color: red;
    color: white;
    border-color: red;
    padding: 1px 7px 1px 7px;
    border-radius: 50%;
    font-size: .8em
}

#tDelete{
    border: none;
    text-align: center;
    background-color: red;
}

#expenseList{
    width: 25%;
    border-spacing: 5px;
    border: 8px inset #a0d468 ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
}